[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
[user]
	name = Collin Dutter
	email = collin@griptape.ai
[color]
	ui = true
[pull]
	rebase = true
[rerere]
	enabled = true
[core]
	autocrlf = input
	editor = nvim
[init]
	defaultBranch = main
[delta]
	features = catppuccin-macchiato
