[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
[user]
	name = Collin Dutter
	email = collindutter@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAjfLNNONxsPdK1tIJ/82W/oPJhN9+OqAS5ZLZTvCV+A
[color]
	ui = true
[pull]
	rebase = true
[rerere]
	enabled = true
[core]
	autocrlf = input
	editor = nvim
[init]
	defaultBranch = main
[delta]
	features = catppuccin-macchiato
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/collindutter/.ssh/allowed_signers
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
