/*/
!/.config/
!/.pi/
.dotfiles
/.pi/agent/auth.json
/.pi/agent/sessions/
/.pi/agent/mcp-cache.json
/.pi/agent/mcp-onboarding.json
/.pi/agent/extensions/node_modules/
/.config/tmux/plugins/
/.config/fish/functions/*fzf*
/.config/fish/conf.d/*
!/.config/fish/conf.d/fzf-theme.fish
/.config/fish/completions/
/.config/stripe/
/.config/github-copilot/
/.config/gh/
/.claude/
