[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
	path = ~/.gitconfig.local
[color]
	ui = true
[pull]
	rebase = true
[rerere]
	enabled = true
[core]
	autocrlf = input
	editor = nvim
[init]
	defaultBranch = main
[delta]
	features = catppuccin-macchiato
[user]
	name = Collin Dutter
	email = collindutter@gmail.com
	signingkey = /Users/collin/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/collin/.ssh/allowed_signers
